.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.hero{
  width: 100%;
  display: inline-flex;
justify-content: space-between;  
}